# NPM
.npmignore
.npmrc

# Deps
.DS_Store

.circleci
.github
.husky

.editorconfig

.eslintignore
.eslintrc

.gitattributes
.gitignore

# Test
test

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc
